In [ ]:
## Split master CSV file from GBIF into separate files

In [ ]:
## Load libraries
import pandas as pd
import numpy as np

In [63]:
#csv file name to be read in 


test_data = pd.read_csv("D:/RStudio/GreatUrbanShift/data/GBIFdatabase/0270981-200613084148143.csv", nrows=5, header=0, sep="\t") 

### Preview what the data looks like
test_data.head()
list(test_data)[30]

'day'

In [57]:
### Identify the columns to keep

usecols = list(test_data) 
usecols

keepCols = ["gbifID","datasetKey","phylum","class","order","family","genus","species","day","month","year","decimalLatitude","decimalLongitude"]
dataSelect = test_data[keepCols]
dataSelect.head()

,gbifID,datasetKey,phylum,class,order,family,genus,species,day,month,year,decimalLatitude,decimalLongitude
0,1717065999,dda71480-30b2-11de-b171-b8a03c50a862,Arthropoda,Insecta,Coleoptera,Curculionidae,Otiorhynchus,Otiorhynchus ovatus,28,8,2006,51.43,16.01
1,1717067074,dda71480-30b2-11de-b171-b8a03c50a862,Arthropoda,Insecta,Coleoptera,Curculionidae,Otiorhynchus,Otiorhynchus ovatus,9,8,2004,50.18,19.30
2,1717067075,dda71480-30b2-11de-b171-b8a03c50a862,Arthropoda,Insecta,Coleoptera,Curculionidae,Otiorhynchus,Otiorhynchus ovatus,19,7,2004,50.32,19.38
3,1717067055,dda71480-30b2-11de-b171-b8a03c50a862,Arthropoda,Insecta,Coleoptera,Curculionidae,Otiorhynchus,Otiorhynchus ovatus,9,8,2004,50.20,19.33
4,1717066000,dda71480-30b2-11de-b171-b8a03c50a862,Arthropoda,Insecta,Coleoptera,Curculionidae,Otiorhynchus,Otiorhynchus ovatus,25,9,2006,51.43,16.04

In [26]:
### Split into separate CSV files

## total number of observations
number_lines = 547547455  

#size of rows of data to write to the csv, 
rowsize = 1000000 

## Columns to keep
keepCols = ["gbifID","datasetKey","phylum","class","order","family","genus","species","day","month","year","decimalLatitude","decimalLongitude"]
    
#start looping through data writing it to a new file for each set

for i in range(1,number_lines,rowsize):
    df = pd.read_csv("D:/RStudio/GreatUrbanShift/data/GBIFdatabase/0270981-200613084148143.csv", sep="\t",
          header=0,
          nrows = rowsize,#number of rows to read at each loop
          skiprows = i)#skip rows that have been read

    ## select only core columns
    dfcore = df[keepCols]
    
    #csv to write data to a new file with indexed name. input_1.csv etc.
    out_csv = 'D:/RStudio/GreatUrbanShift/data/GBIFdatabase/split/input' + str(i) + '.csv'
    dfcore.to_csv(out_csv,
          index=False,
          header=0,
          mode='w',#append data to csv file
          chunksize=rowsize)#size of data to append for each loop

C:\Users\alexf\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (2,10,14,16,17,36,37,38,39,40,41,43,44,46,48) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

KeyError: "None of [Index(['gbifID', 'datasetKey', 'phylum', 'class', 'order', 'family', 'genus',\n       'species', 'day', 'month', 'year', 'decimalLatitude',\n       'decimalLongitude'],\n      dtype='object')] are in the [columns]"

In [27]:
df = pd.read_csv("D:/RStudio/GreatUrbanShift/data/GBIFdatabase/0270981-200613084148143.csv", sep="\t",
          header=0,
          nrows = 1000000)

In [28]:
dfcore = df[keepCols]

In [29]:
dfcore.head()

,gbifID,datasetKey,phylum,class,order,family,genus,species,day,month,year,decimalLatitude,decimalLongitude
0,1717065999,dda71480-30b2-11de-b171-b8a03c50a862,Arthropoda,Insecta,Coleoptera,Curculionidae,Otiorhynchus,Otiorhynchus ovatus,28.0,8.0,2006,51.43,16.01
1,1717067074,dda71480-30b2-11de-b171-b8a03c50a862,Arthropoda,Insecta,Coleoptera,Curculionidae,Otiorhynchus,Otiorhynchus ovatus,9.0,8.0,2004,50.18,19.30
2,1717067075,dda71480-30b2-11de-b171-b8a03c50a862,Arthropoda,Insecta,Coleoptera,Curculionidae,Otiorhynchus,Otiorhynchus ovatus,19.0,7.0,2004,50.32,19.38
3,1717067055,dda71480-30b2-11de-b171-b8a03c50a862,Arthropoda,Insecta,Coleoptera,Curculionidae,Otiorhynchus,Otiorhynchus ovatus,9.0,8.0,2004,50.20,19.33
4,1717066000,dda71480-30b2-11de-b171-b8a03c50a862,Arthropoda,Insecta,Coleoptera,Curculionidae,Otiorhynchus,Otiorhynchus ovatus,25.0,9.0,2006,51.43,16.04

In [32]:
out_csv = 'D:/RStudio/GreatUrbanShift/data/GBIFdatabase/split/input' + str(1) + '.csv'
dfcore.to_csv(out_csv,
          index=False,
          header=0,
          mode='w',#append data to csv file
          chunksize=rowsize)

In [34]:
### Load in species list
sppList = pd.read_csv("D:/RStudio/GreatUrbanShift/data/cityData/masterSpeciesList.csv")
sppList.head()

    kingdom      phylum    class                    species  nobs         city
0  Animalia  Arthropoda  Insecta       Bombus pensylvanicus    37  Albuquerque
1  Animalia  Arthropoda  Insecta   Chorizagrotis auxiliaris    27  Albuquerque
2  Animalia  Arthropoda  Insecta  Coccinella septempunctata    13  Albuquerque
3  Animalia  Arthropoda  Insecta      Cysteodemus wislizeni    14  Albuquerque
4  Animalia  Arthropoda  Insecta        Dasymutilla vestita    20  Albuquerque

In [64]:
keepCols = ["gbifID","datasetKey","phylum","class","order","family","genus","species","day","month","year","decimalLatitude","decimalLongitude"]
dtypeDic = {"gbifID": int, "datasetKey": "string","phylum": "string","class": "string" ,"order": "string" ,"family": "string", 
           "genus": "string","species": "string","day": "string","month": "string","year": "string","string": "string","string": "string"}

iter_csv = pd.read_csv("D:/RStudio/GreatUrbanShift/data/GBIFdatabase/0270981-200613084148143.csv", sep="\t",
        usecols= keepCols , dtype=  dtypeDic , ## specify data types to improve memory
        header=0, iterator=True, chunksize=100000)
dfSppTemp = pd.concat([chunk[chunk['species'] == "Otiorhynchus ovatus"] for chunk in iter_csv])

In [65]:
dfSppTemp

,gbifID,datasetKey,phylum,class,order,family,genus,species,decimalLatitude,decimalLongitude,day,month,year
0,1717065999,dda71480-30b2-11de-b171-b8a03c50a862,Arthropoda,Insecta,Coleoptera,Curculionidae,Otiorhynchus,Otiorhynchus ovatus,51.430000,16.010000,28,8,2006
1,1717067074,dda71480-30b2-11de-b171-b8a03c50a862,Arthropoda,Insecta,Coleoptera,Curculionidae,Otiorhynchus,Otiorhynchus ovatus,50.180000,19.300000,9,8,2004
2,1717067075,dda71480-30b2-11de-b171-b8a03c50a862,Arthropoda,Insecta,Coleoptera,Curculionidae,Otiorhynchus,Otiorhynchus ovatus,50.320000,19.380000,19,7,2004
3,1717067055,dda71480-30b2-11de-b171-b8a03c50a862,Arthropoda,Insecta,Coleoptera,Curculionidae,Otiorhynchus,Otiorhynchus ovatus,50.200000,19.330000,9,8,2004
4,1717066000,dda71480-30b2-11de-b171-b8a03c50a862,Arthropoda,Insecta,Coleoptera,Curculionidae,Otiorhynchus,Otiorhynchus ovatus,51.430000,16.040000,25,9,2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...
86840403,-1486737040,38b4c89f-584c-41bb-bd8f-cd1def33e92f,Arthropoda,Insecta,Coleoptera,Curculionidae,Otiorhynchus,Otiorhynchus ovatus,57.386656,15.813538,18,6,2020
86864456,1459865596,38b4c89f-584c-41bb-bd8f-cd1def33e92f,Arthropoda,Insecta,Coleoptera,Curculionidae,Otiorhynchus,Otiorhynchus ovatus,57.767872,14.145025,10,5,2012
86881180,1460483298,38b4c89f-584c-41bb-bd8f-cd1def33e92f,Arthropoda,Insecta,Coleoptera,Curculionidae,Otiorhynchus,Otiorhynchus ovatus,59.738520,17.661633,25,8,2013
86887479,1884266740,38b4c89f-584c-41bb-bd8f-cd1def33e92f,Arthropoda,Insecta,Coleoptera,Curculionidae,Otiorhynchus,Otiorhynchus ovatus,57.386657,15.813538,24,5,2018
86910105,1493266206,38b4c89f-584c-41bb-bd8f-cd1def33e92f,Arthropoda,Insecta,Coleoptera,Curculionidae,Otiorhynchus,Otiorhynchus ovatus,55.898690,14.212803,2,4,2017

In [ ]:
### Loop through each species into a separate file

for i in sppList["species"]:
    iter_csv = pd.read_csv("D:/RStudio/GreatUrbanShift/data/GBIFdatabase/0270981-200613084148143.csv", sep="\t",
        usecols= keepCols , dtype=  dtypeDic , ## specify data types to improve memory
        header=0, iterator=True, chunksize=100000)
    dfSppTemp = pd.concat([chunk[chunk['species'] == str(i)] for chunk in iter_csv])
    
    #csv to write data to a new file with indexed name. input_1.csv etc.
    out_csv = 'D:/RStudio/GreatUrbanShift/data/GBIFdatabase/split/input' + str(i) + '.csv'
    dfSppTemp.to_csv(out_csv,
          index=False,
          header=0,
          mode='w')